* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    background-color: #0F172A;
    color: #F8FAFC;
    /* Dark Modern Theme

Background: #0F172A (deep navy gray)

Primary (highlight/buttons/links): #38BDF8 (sky blue, neon feel)

Accent: #F472B6 (soft pink for contrast)

Text (main): #F8FAFC (white)
logo #38BDF8



for nav bar text colors #38BDF8
for navbar under line effects #F472B6

Text (secondary): #94A3B8 (light gray for paragraphs) */
}

:root {
    --color-background: #0F172A;
    --color-link: #38BDF8;
    --color-accent: #F472B6;
    --color-text-main: #F8FAFC;
    --color-text-secondary: #94A3B8;
    --color-highlight: #f46363;

}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 15%;
}

.header-container {
    width: 100%;
    background-color: var(--color-background);

    box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 30px -10px;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    & .logo {
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--color-link);
        border-top: 2px solid var(--color-link);
        border-bottom: 2px solid var(--color-link);
        border-right: 2px solid var(--color-link);
        border-left: 2px solid var(--color-link);
        text-decoration: none;
        text-transform: capitalize;
        padding-right: .8rem;

        & span:first-child {
            color: var(--color-background);
            background-color: var(--color-link);
            background-size: cover;
            padding-left: .8rem;
            padding-right: .8rem;

        }

    }

    & .nav-links {
        list-style: none;
        display: flex;

        & ul {
            list-style: none;
            display: flex;
            gap: 3.2rem;
            font-size: 1.6rem;

            & a {
                text-decoration: none;
                color: #38BDF8;

                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    border-bottom: 0.25rem solid var(--color-accent);
                    bottom: -.5rem;
                    left: 0;
                    width: 0%;
                    transition: all 0.2s ease-in-out;
                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -ms-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                }




                &:hover::after {
                    width: 100%;

                }
            }

        }
    }
}

.home {
    width: 100%;
    height: 100vh;

    padding: 0 17.1%;
    margin: 0 auto;
    display: grid;
    place-items: center;

    & .home-article {
        display: flex;
        
        align-items: center;
        gap: 1.5rem;

       
        & .heading {

            & h1 {
                font-size: 3.8rem;
                line-height: 1.2;
                margin-bottom: 1.6rem;
                /* margin-top: 3.9rem; */
            }

            & p {
                font-size: 1.7rem;
                font-family: "Merriweather", serif;
                color: var(--color-text-secondary);
                margin-bottom: 3.5rem;
                /* margin-top: 2.4rem; */
                letter-spacing: .16rem;
                word-spacing: .3rem;
                line-height: 2.9rem;
            }
        }

        & .home-image img {
            width: 40rem;
            height: auto;
            z-index: -1;
        }
    }
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 1.9rem;
    letter-spacing: .04rem;
    align-items: center;
    text-align: center;
   
    width: 13rem;
    height: 2.6rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    color: var(--color-text-main);
    background-color: var(--color-accent);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    &:hover {
        background-color: var(--color-link);
        transition: all 0.3s ease-in-out;
    }
}

.hr-first {
    height: 3px;
    background-color: var(--color-link);

    border: 1px solid var(--color-link);
    width: 90%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;



}

.about {
    max-width: 1200px;
    margin-top: 6rem;

    & .about-article {
        display: grid;

        grid-template-columns: 65% 35%;
        gap: 1.5rem;
        padding: 0 21.4rem;



        .about-article--headings {
            & h1 {
                font-size: 3.8rem;
                line-height: 1.2;
                margin-bottom: 1.6rem;
                /* margin-top: 3.9rem; */
            }

            & p {

                font-size: 1.7rem;
                font-family: "Merriweather", serif;
                color: var(--color-text-secondary);
                margin-bottom: 1.5rem;
                /* margin-top: 2.4rem; */
                letter-spacing: .16rem;
                word-spacing: .3rem;
                line-height: 2.9rem;
            }

            & p:nth-of-type(1) {
                margin-top: 6rem;
            }

            & p:nth-of-type(3) {
                background-color: rgba(255, 0, 0, 0.203);
                padding: .8rem;
                display: flex;

                color: whitesmoke;
                border: .2rem solid var(--color-highlight);

                border-radius: .2rem;

                -webkit-border-radius: .2rem;
                -moz-border-radius: .2rem;
                -ms-border-radius: .2rem;
                -o-border-radius: .2rem;
            }

            & .btn {
                text-decoration: none;
                display: inline-block;
                font-size: 1.9rem;
                letter-spacing: .04rem;
                align-items: center;
                text-align: center;
                width: 13rem;
                height: 2.6rem;
                padding: .2rem .5rem;
                margin-top: 2rem;
                margin-bottom: 5rem;
                border-radius: .5rem;
                -webkit-border-radius: .5rem;
                -moz-border-radius: .5rem;
                -ms-border-radius: .5rem;
                -o-border-radius: .5rem;
                color: var(--color-text-main);
                background-color: var(--color-accent);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

                &:hover {
                    background-color: var(--color-link);
                    transition: all 0.3s ease-in-out;
                }
            }

        }

        & .about-article--image {
            & img {
                /* is image ko center me krna h or phle se grid h iska perent */
                max-width: 270px;
                width: 100%;
                max-height: 380px;
                height: 100%;
                border-radius: 130px;
                -webkit-border-radius: 130px;
                -moz-border-radius: 130px;
                -ms-border-radius: 130px;
                -o-border-radius: 130px;
                padding: 5px;
                border: 4px solid rgb(247, 242, 228);
                &:hover{
                    width: 120%;
                    height: 120%;
                }
            }
        }
    }
}
@media (max-width:800px){
    .about-article {
        display: grid;

        grid: row;
        gap: 1.5rem;
        padding: 0 21.4rem;
}
}




















@media (max-width:600px){
  .feature-grid{grid-template-columns:1fr}
  .nav{display:none}
  .hero h2{font-size:1.5rem}
}

/* Utility (small) */
ul{margin:0;padding-left:20px}
